EXERCISE: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [ ]:
plane_cost=5000
no_of_people=29
cost_per_ticket=200
profit=(no_of_people*ticket)-cost
print(profit)

800

Concept of a conditional statement or a set of conditional statements and cases : Write a code snippet which evaluates whether a number is a multiple of just 2 , just 3 , or both 2 and 3 (multiple of 6)

In [ ]:
num=12
if num%2==0 and num%3==0:
  print("Multiple of 2 and 3")
elif num%3==0:
  print("Multiple of 3")
elif num%2==0:
  print("Multiple of 2")
else :
  print("Not a Multiple of 2 or 3")

Multiple of 2 and 3

Concept of loops: Write a program to count the number of vowels in the given string: ANTIESTABLISHMENTARIANISTICALLY

In [ ]:
str="ANTIESTABLISHMENTARIANISTICALLY"
count=0
for i in str :
      if i=='A' or i=='E' or i=='I' or i=='O' or i=='U' :
        count=count+1
  
print("No of vowels",count)

No of vowels 12

In [4]:
#Define a random list of fruits 
lst=['Apple','Mango','Orange','Banana','Kiwi']

#iterate over the list and find the name of the fruit which has the smallest word length
min=30
for i in lst:
  if len(i)<min:
    min=len(i)
    res=i
print("Smallest word:",res)

# append a fruit to your existing list
lst.append("Grapes")
print(lst)

# find the size of your list
length=len(lst)
print("Length of list is:",length)

# delete the 2nd fruit(1st index) from your list:
x=lst.pop(1)
print("Deleted element is:",x)

# add your name in the 4th position of the list (3rd index)
lst.insert(3,"Anika")
print(lst)

Smallest word: Kiwi
['Apple', 'Mango', 'Orange', 'Banana', 'Kiwi', 'Grapes']
Length of list is: 6
Deleted element is: Mango
['Apple', 'Orange', 'Banana', 'Anika', 'Kiwi', 'Grapes']

In [13]:
#create abd tuple and print its elements 
tpl = ("apple",7, 1.5)
print(tpl)

#print the type of each value in the tuple
for i in tpl:
  print("Type of ",i,":",type(i))

#try to change the seconf value in your tuple to "Caterpillar"
#Tuples are immutable

# print the last element of the tuple without using the length of the tuple
print("Last element is:",tpl[-1])

# slicing is an IMPORTANT concept in python especially since you will all be working on huge amounts of data so try different options 
# print(a[-2:]), print([:3]) etc...
print(tpl[-2:])
print(tpl[:3])

#sort vs sorted function: find the difference in the form of a program:
# sort() function is used with lists and it has no return type while sorted() function can be used with lists,tuples,set,etc and returns a list of sorted values
tpl1=(12,34,2,23,10)
print("Sorted tuple:",sorted(tpl1))

('apple', 7, 1.5)
Type of  apple : <class 'str'>
Type of  7 : <class 'int'>
Type of  1.5 : <class 'float'>
Last element is: 1.5
(7, 1.5)
('apple', 7, 1.5)
Sorted tuple: [2, 10, 12, 23, 34]

Ana is a data-scientist who just started her career in Meta, however she needs to find the existance of new words on facebook hashtags and find the numbre of unique such words which need to be added to the existing facebook hastag library:

facebook hastag library : ["ootd", "lol", "ffs", "asap"] daily facebook hastag words string: " rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours" You will need to indivitually extract the words from the string and then solve this problem ?? How are you going to do that ?

In [15]:
txt="rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
x=set(txt.split(" "))
print(x)
print("No of unique words which need to be added are:",len(x))

{'anime', 'candid', 'ffs', 'asap', 'lol', 'fun', 'rofl', 'macha', 'bob', 'happyhours', 'sweet16', 'ootd'}
No of unique words which need to be added are: 12

Given an unsorted list of some elements(may or may not be integers), Find the frequency of each distinct element in the list using a dictionary. Input : [1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]

Output : 1 : 5 2 : 4 3 : 3 4 : 3 5 : 2

In [23]:
def CountFrequency(my_list):
 
    # Creating an empty dictionary
    freq = {}
    #------fill your code here-----------------
    for i in lst2:
      if(i in freq):
       freq[i]+=1
      else:
       freq[i]=1
    print(freq)
    
# Driver function
if __name__ == "__main__":
    my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
 
    CountFrequency(my_list)

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}